* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background: black;
    overflow: hidden;
}

li {
    list-style-type: none;
}

input {
    font-size: inherit;
    background: inherit;
    border: none;
    outline: none;
    color: inherit;
}